.navbar {
  display: flex;
  gap: 64px;

  &__link {
    letter-spacing: 4%;
    text-decoration: none;
    color: $navbar-link-color;
    line-height: $navbar-link-height;
    font-size: $navbar-link-size;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    position: relative;
    padding: 27px 0;
    height: 100%;
    &:hover {
      color: #00157d;
    }

    &:focus:after {
      position: absolute;
      content: "";
      height: 3px;
      width: 100%;
      bottom: 0;
      left: 0;
      background-color: #00157d;
    }
  }
}

.header {
  box-shadow: 0 1px 0 0 #e2e6e9;
  &__content {
    display: flex;
    justify-content: space-between;
    padding-inline: 24px;
  }
  &__icons {
    display: flex;
    align-items: center;
  }
  &__icon-block {
    width: $header-icon-width;
    height: $header-icon-height;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__menu {
    display: flex;
    gap: 64px;
    align-items: center;
  }
  &__logo {
    display: flex;
    align-items: center;
  }
  &__right {
    display: flex;
  }
}

.logo {
  width: 40px;
  height: 24px;

  &-img {
    width: 100%;
    height: 100%;
  }
  &-link {
    display: block;
  }
}
