.medicine-card {
  position: relative;
  border: 1px solid #e2e6e9;
  width: 272px;
  height: 400px;
  box-sizing: border-box;

  &__photo {
    width: $product-cart-photo-size;
    height: $product-cart-photo-size;
    padding: 24px 32px;
  }
  &__photo-block {
    display: flex;
    justify-content: center;
  }

  &__title {
    padding: 0 24px 6.5px 24px;
    line-height: 21px;
    font-weight: 500;
    font-size: 14px;
    color: $product-cart-color-text-description;
  }

  &__price-block {
    display: flex;
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 7px;
    gap: 8px;
  }

  &__control {
    width: 270px;
    display: flex;
    gap: 8px;
    padding-inline: 24px;
    position: absolute;
    bottom: 30px;
  }
  &__icon-block {
    width: $productCard-icon-size;
    height: $productCard-icon-size;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.control-button {
  border: none;
  color: white;
  background-color: #001eb195;
  height: 40px;
  width: 100%;
  cursor: pointer;
  &--big {
    height: 48px;
    width: 263px;
  }
  &--big-round {
    width: 250px;
    height: 50px;
    border-radius: 15px;
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
.icon-button-favorities {
  width: $productCard-icon-size;
  height: $productCard-icon-size;
  background-image: url(../../public/img/button-favorities-2x.png);
  background-size: cover;
  border: none;
  background-color: white;
  cursor: pointer;
  &--big {
    width: 48px;
    height: 48px;
  }
  &--is-favourite {
    background-image: url(../../public/img/Favourites-added-2x.png);
  }
}

.price {
  font-weight: 700;
  font-size: 22px;
  position: relative;
  color: #313237;
  line-height: 31px;

  &--big {
    font-size: 32px;
  }
}
.in-cart {
  background-color: white;
  color: #27ae60;
  border: 1px solid #e2e6e9;
}
