$primary-color: #0984e3;
$product-cart-photo-size: 200px;
$product-cart-color-text-description: grey;
$productCard-icon-size: 40px;
$product-details-img-size: 90px;
$navbar-link-color: #0984e3;
$navbar-link-height: 25px;
$navbar-link-size: 20px;
$font-weight-bold: 800;
$header-icon-width: 40px;
$header-icon-height: 40px;
